@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to CRWBookStore</h1>
    <h2 style="color:black;font-size:20px;">Browse our newest selection or login for our latest deals!</h2>
    <img src="https://cdn.discordapp.com/attachments/892610578739261551/940369085148037160/R.png"  width="1240" height="640">
</div>
